:root {
    --main-bg : #2a9d8f;
}

body {
    padding-top: 4rem;
}

.navbar {
    background-color: var(--main-bg);
}

.card img {
    height: 12rem;
}

.fa-solid.fa-heart {
    color: red;
}

.new-form {
    width: 50%;
    margin: 0px auto;
}
