<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="padding: 10px;">
        <a href="/login" style="margin-right: 40px;">Login</a>
        <a href="/register" style="margin-right: 40px;">Signup</a>
        <a href="/new" style="margin-right: 40px;">New</a>
        <a href="/secret" style="margin-right: 40px;">Secret</a>
    </div>
    
</body>
</html>