<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="padding: 10px;">
        <a href="/new" style="margin-right: 40px;">New</a>
        <a href="/secret" style="margin-right: 40px;">Secret</a>
        <form action="/logout" method="post" style="display: inline-block;">
            <button type="submit">Logout</button>
        </form>
    </div>

    <h1>This is my secret!!!!</h1>
    
</body>
</html>